################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Debug/
/vg_engine/.vs/
/vg_engine/Dependencies/
/vg_engine/packages/

